<!--game.vtl-->
<h2>$newGame.getHiddenWord()</h2>
<p>
  $newGame.getLettersGuessed()
</p>
<p>
  Wrong Guesses: $newGame.wrongGuesses()/$guessLimit
</p>

<form action="/game">
  <div class="form-group">
    <label for="guess">Guess a letter</label>
    <input id="guess" name="guess" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Guess</button>
</form>
<!--game.vtl-->
